<h1>Editing story</h1>

<%= render 'form' %>

<span class="button"><%= link_to 'Show', @story %></span> your story, or <span class="button"><%= link_to 'Go Back', stories_path %></span> to all stories.

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
